body {
    margin: 0;
    padding: 0;
    font-family: Arial;
    background: #0d0d0d;
    color: white;
}

#login-box, #app {
    max-width: 450px;
    margin: 60px auto;
    padding: 20px;
    background: #1a1a1a;
    border-radius: 10px;
    text-align: center;
}

button {
    padding: 12px 18px;
    background: red;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 6px;
    margin-top: 10px;
}

#chatBox {
    background: #101010;
    height: 350px;
    overflow-y: auto;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 10px;
}

.input-box {
    display: flex;
    gap: 8px;
}

input {
    flex: 1;
    padding: 10px;
    border-radius: 6px;
    border: none;
}